body {
    background-color: rgb(41, 41, 41);
    margin: 15px;
    border: 7px solid rgb(27, 43, 127);
    padding: 25px;
}

h1#h1 {
    color: rgb(191, 191, 191);
    text-align: center;
    text-decoration: underline;
}

p#p1 {
    color: rgb(255, 223, 128);
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    font-style: normal;
}

p#p2 {
    color: #80dbff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    font-style: italic;
}

p#p3 {
    color: hsl(347, 100%, 75%);
    font-size: 20px;
    font-weight: 600;
    text-align: right;
    font-style: normal;
}