#container{
    border: 2px black solid;
}
#container p{
    background-color: yellow;
}
#container > p{
    background-color: yellow;
}
#container ~ p{
    background-color: yellow;
}
#container + p{
    background-color: yellow;
}